h5 {
	display: inline-block;
}

a {
	display: inline-block;
}

.reviews {
	width: 400px;
	border: solid;
	display: inline-block;
}

.other_reviews {
	width: 400px;
	border: solid;	
	display: inline-block;
	vertical-align: top;
}

.books {
	display: block;
}