<!DOCTYPE html>
<html>
<head>
	<title>Add a student to all bootcamp courses</title>
</head>
<body>
	<h3>Add a new course</h3>
	{% if messages %}
	{% for message in messages %}
		<p>{{message}}</p>
	{%endfor%}
	{%endif%}
	<form method="post" action="/add">
		{% csrf_token %}
		<input type="text" name="name">
		<input type="text" name="description">
		<input type="submit" name="submit" value="Add">
	</form>
	<h3>Courses</h3>
	<table>
		<tr>
			<th>Course Name</th>
			<th>Description</th>
			<th>Date Added</th>
			<th>Actions</th>
		</tr>
		{% for course in courses %}
		<tr>
			<th>{{course.name}}</th>
			<th>{{course.description}}</th>
			<th>{{course.created_at}}</th>
			<th><a href="/remove/{{course.id}}">remove</a></th>
		</tr>
		{% endfor %}
	</table>
</body>
</html>